<div class="dashboard-container">
  <!-- Barra superior -->
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">RequestHub</span>
    <span class="spacer"></span>
    <!-- <button mat-icon-button matBadge="3" matBadgeColor="accent">
      <mat-icon>notifications</mat-icon>
    </button> -->
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configuración</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <!-- Contenedor principal con sidebar y contenido -->
  <mat-sidenav-container class="sidenav-container">
    <!-- Sidebar de navegación -->
    <mat-sidenav [opened]="isMenuOpen" [mode]="'side'" class="sidenav">
      <!-- Perfil del usuario -->
      <app-user-profile [user]="user" *ngIf="!loading"></app-user-profile>

      <!-- Menú de navegación -->
      <app-navigation-menu></app-navigation-menu>
    </mat-sidenav>

    <!-- Contenido principal dinámico -->
    <mat-sidenav-content class="main-content">
      <!-- Card rounded border with padding -->
      <div class="card m-4 border-radius-8 shadow border-0">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
